/target/
config.properties
*.log
*.imdb_java.log
.DS_Store
.idea/
*.iml
out/
*.class
.vscode/
*.code-workspace
*.jar
lib/
*.war
hs_err_pid*
*.hprof
logs/
debug/
dump/
temp/
tmp/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*
.vscode-test/
coverage/
dist/
build/
node_modules/
